 .card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 10px;
    background-color: #eaeaf175;
    perspective: 1000px;
  }

  .card{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d ;
    transition: all 3.8s ease;
    transform: scale(-1, 1); 
     text-transform: uppercase; 
     
  } 
 
  .front{
    position: relative;
    backface-visibility: hidden;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-color: rgb(106, 128, 228); */
    width: 100%;
    height: 100%;
    transform: scale(-1, 1);
    color: white; 
  }
  
  .back{       
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    background: #870000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-color: rgb(25, 2, 105); */
    width: 100%;
    height: 100%;  
    color: white;     
  }
  
  .cardFlip{
    transform: rotateY(180deg);
  }
